.square {
  border: 1px outset rgb(0, 0, 3);
  background-color: rgb(160, 190, 235);
  height:50px;
  width:50px;
  cursor:pointer;
}

.board-row {
  display: flex;
  height:50px;
}

.game-board {
  margin-left: 20px;
  float: left;
}

.game-info {
  width: 200px;
  overflow: hidden;
}